@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Poppins:wght@400;700&display=swap");
body {
  font-family: "Poppins";
}

.content {
  margin: auto;
  padding: 1em 2em;
  max-width: 600px;
}
.content p {
  padding: 1em 0;
}
