@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Poppins:wght@400;700&display=swap');
body {
  font-family: "Poppins";
}

h1 {
  text-align: center;
  color: #f50057;
}

.content {
  margin: auto;
  padding: 1em 2em;
  max-width: 600px;
}
